qiskit==0.34.2

# For drawing circuits, state vectors, Wigner function plots (matplotlib 3.3.0+ is incompatible)
matplotlib==3.2.2
pylatexenc==2.8
Pillow==8.2.0

# Installing current cryptography 3.3.1 failed in Windows 10, force previous minor build version.
cryptography==3.2.1
