qiskit==0.25.0

# For drawing circuits and state vectors (matplotlib 3.3.0+ is incompatible)
matplotlib==3.2.2
pylatexenc==2.8

# Installing current cryptography 3.3.1 failed in Windows 10, force previous minor build version.
cryptography==3.2.1
